@import "../../variables.scss";

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 70%;
    margin: 0 auto;
    
    svg {
        height: fit-content;
        overflow: visible;
        justify-self: center;
        padding: 10px;

        path {
            stroke-width: 1.5px;
        }
    
        .y-axis {
            .tick {
                color: $logo-primary-light;
                stroke-dasharray: 2,4;

                text {
                    color: $logo-primary;
                }
            }
        }

        .x-axis {
            .tick {
                color: $logo-primary;
            }
        }
    }
}
