@import "../../variables.scss";

#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid $chart-border;
    // box-shadow: 2px 2px 2px 2px $chart-background;
    justify-self: center;
    width: 70%;
    margin: 0 auto;
    
    svg {
        height: fit-content;
        overflow: visible;
        justify-self: center;
        padding: 10px;
    
        .y-axis {
            color: $logo-secondary;
        }
    }
}
