@import '../../variables.scss';

#article-list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background: $logo-primary-light;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 10px;
}

.article {
	padding: 0.5rem;
	border: 1px solid $text-secondary;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px $text-secondary;
	margin: 1rem;
	background: #f5f5f5;
	text-align: left;
	width: 90%;

	p {
		margin: 0;
	}

	.article-title {
		color: $text-secondary;
	}

	.article-timestamp {
		color: $text-primary-light;
	}
}

@media screen and (min-width: 768px) {
	.article {
		width: 45%;
		word-wrap: wrap;
	}
}
