@import '../../variables.scss';

.video-thumbnail {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 50%;
    }

    a {
        align-self: center;
    }

    i {
        font-size: 2rem;
    }
}