$logo-primary: #256b98;

h1 {
	padding: 0;
	margin: 0;
	font-size: 1.25rem;
	color: $logo-primary;
}

#favicon {
	width: 1rem;
	height: 1.15rem;
	margin: 0.25rem;
}

#logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
