@import '../../variables.scss';

.hidden {
    opacity: 0;
    height: 0;
    transition: height 1s linear;
}

.visible {
    opacity: 1;
    height: fit-content;
    transition: height 1s linear, opacity 1s linear;
}

.show-more {
    font-size: 1.5rem;
    align-self: center;
    font-style: italic;
}

#bg-text {
    font-size: 1rem;
    color: #00195a;
    line-height: 2;
}

.react-slidedown.my-dropdown-slidedown {
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}