@import '../../variables.scss';

.coin-profile {
	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-gap: 0.75rem;
	padding: 0.25rem;
	width: 97%;
	
	.coin-resources,
	.coin-summary-cont,
	.coin-description {
		width: 100%;
	}
	
	a {
		color: $text-secondary;
	}
}

.price-chart {
	padding: 3rem 1rem;
	overflow-x: scroll;
	min-width: 550px;
	min-height: 300px;
}

@media screen and (min-width: 400px) {
	
	.coin-summary-cont {
		display: grid;
		grid-template-columns: auto 1fr;
	}
}