@import '../../variables.scss';

.coin-profile {
	display: grid;

	grid-template-rows: auto auto auto auto;
	grid-gap: 0.75rem;
	padding: 0.25rem;
	width: 97%;
	
	.coin-resources,
	.coin-summary-cont,
	.coin-description,
	.price-chart {
		width: 100%;
	}

	
	.price-chart {
		padding: 3rem 1rem;
		border: 5px solid #f5f5f5;
		background-color: #fdfdfd02
	}
	
	a {
		color: $text-secondary;
	}
}

@media screen and (min-width: 400px) {
	
	.coin-summary-cont {
		display: grid;
		grid-template-columns: auto 1fr;
	}
}