@import '../../variables.scss';

.coin-profile {
	display: grid;
	grid-template-rows: 2fr auto 2fr 4fr;
	grid-gap: 0.75rem;
	padding: 0.25rem;
	width: 97%;
}

.coin-summary-cont {
	display: grid;
	grid-template-columns: 1fr 6fr;
}

.coin-resources,
.coin-summary,
.coin-description {
	width: 100%;
}

a {
	color: $text-secondary;
}