.App {
	text-align: center;
	line-height: 2;
	font-size: 2rem;
	color: red;
}

header {
	color: blue;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
}

footer {
	color: green;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
}
