@import './variables.scss';

.App {
	text-align: center;
	line-height: 2;
	font-size: 2rem;
	color: $text-primary;
	padding: 0 0.25rem;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $logo-secondary;
}

header {
	color: blue;
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
	width: 100vw;
}

main {
	justify-self: center;
	width: 95vw;
}

footer {
	color: green;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
	width: 100vw;

	#logo {
		width: fit-content;
	}

	#disclaimer {
		font-size: 0.5rem;
	}
}

p {
	font-size: 1rem;
}
