@import './variables.scss';

* {
	box-sizing: border-box;
}

.App {
	text-align: center;
	line-height: 2;
	font-size: 2rem;
	color: $text-primary;
	padding: 0 0.25rem;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $logo-secondary;
}

header,
footer {
	background: $logo-primary-light;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
	width: 100vw;
	height: 3.5rem;
}

main {
	justify-self: center;
	align-self: center;
	width: 95vw;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: center;
	width: 100vw;
	padding: 0.5rem;

	#logo {
		width: fit-content;
	}

	#disclaimer {
		font-size: 0.5rem;
	}
}

p {
	font-size: 1rem;
}
