$logo-primary: #168cdb;
$logo-primary-light: #bfd8ecbb;
$logo-secondary: #de611a;
$text-primary: rgb(0, 25, 90);
$text-primary-light: rgb(138, 164, 216);
$text-secondary: #136fbb;
$light-bg: #ebebeb;

// CoinMarketData chart
$chart-background: #eaf5ff;
$chart-border: #1c72ac