$logo-primary: #168cdb;
$logo-primary-light: rgba(191, 216, 236, 0.733);
$logo-secondary: #de611a;
$text-primary: rgb(0, 25, 90);
$text-primary-light: rgb(138, 164, 216);
$text-secondary: #136fbb;
$light-bg: #ebebeb;
