@import '../../variables.scss';

nav {
	display: flex;
	width: fit-content;
	justify-content: space-between;
	align-items: center;
}

h6 {
	padding: 0 0.5rem;
}

#menu {
	background: $text-primary;
	color: $logo-primary-light;
}

.dropdown-toggle::after {
    content: none;
}